<div class=" overflow-y-scroll overflow-x-hidden flex flex-col h-screen w-screen bg-[url(/assets/museemine-dark.png)] bg-cover bg-no-repeat bg-right-top lg:bg-top">
  <app-navbar></app-navbar>

  <div class="flex-grow flex flex-col items-center">

<h3 class="text-white my-5 mt-10 md:text-xl md: mt-20" >Veuillez sélectionner une histoire.</h3>

<div class="flex-grow flex flex-col justify-center items-center w-screen lg:flex-row">
  <div class=" w-64 h-40 my-10 relative bg-unsplash-[H7JiEU8Slnw] bg-cover bg-center bg-no-repeat rounded-lg md:w-2/4 md:h-60 lg:w-2/5 lg:mx-10 lg:h-2/4 lg:my-0">
    <div class="absolute left-0 right-0 bottom-0  h-12 bg-gradient-to-t from-black to-transparent rounded-lg md:h-14"></div>
    <p class="absolute bottom-3 text-white left-4 text-sm z-10 md:text-base md:bottom-5 md:left-6 lg:text-lg">Le Carbonifère</p>
  </div>
  <div class=" w-64 h-40 my-10 relative bg-unsplash-[S02FHccCSdA] bg-cover bg-center bg-no-repeat rounded-lg md:w-2/4 md:h-60 lg:w-2/5 lg:mx-10 lg:h-2/4 lg:my-0">
    <div class="absolute left-0 right-0 bottom-0  h-12 bg-gradient-to-t from-black to-transparent rounded-lg md:h-14"></div>
    <p class="absolute bottom-3 text-white left-4 text-sm z-10 md:text-base md:bottom-5 md:left-6 lg:text-lg">Métiers du jour</p>
  </div>

  
</div>


 


</div>