<div class="flex flex-col h-screen w-screen bg-[url(/assets/museemine-dark.png)] bg-cover bg-no-repeat bg-right-top lg:bg-top">
<app-navbar></app-navbar>
<div class="mx-auto flex-grow w-screen flex flex-col items-center relative ">
  <h1 class="text-white font-semibold text-3xl tracking-wider mt-52 mb-3 md:text-5xl lg:text-7xl">VISITE VIRTUELLE</h1>
  <p class="text-gray-300 text-xs w-60 text-center md:text-sm md:w-80 md:mt-4 lg:text-base">Voyagez dans le temps grâce à notre visite virtuelle du musée de la Mine.</p>
  <button class="bg-[#DADADA] font-semibold mx-auto text-sm px-6 flex flex-row flex-nowrap justify-center rounded-full py-1.5 my-auto md:text-base md:px-10 lg:text-lg lg:px-16 lg:py-2.5">C'est parti <img class="ml-2 md:my-auto" src="/assets/arrow-black.png" alt="arrow black"/> </button>

</div>


</div>